<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Viandas, Viandas Saludables, Comida Saludable, Dieta, Fit">
    <meta name="description" content="Ahora cuidarte es más fácil, rápido y delicioso! Deli Rose se encarga de brindarte el plato que necesitás, cuando lo querés y más rico que nunca. Podés elegir el plan que más se adapte a tus objetivos y comenzar a cuidar tu alimentación para acercarte más a tus metas.">
    <title>Viandas - Keto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
       <div class="logo-h">
        <img src="../images/logo.jpg" height="100px">
        <h1 style="font-family: 'Lobster', cursive;">Viandas Saludables</h1>
        </div>

         <!--Menú Navegable-->

        
    <nav id="nav-div">
      <ul class="nav">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="planes.html">Planes</a>
              <ul id="submenu">
                  <li><a href="fit.html">Fit Plan</a></li>
                  <li><a href="keto.html">Keto</a></li>
                  <li><a href="bc.html">Bajas calorias</a></li>
                  <li><a href="gourmet.html">Gourmet</a></li>
              </ul>
          </li>
          <li><a href="#servicio-seccion">Servicios</a></li>
          <li><a href="../index.html">Nosotros</a></li>
          <li><a href="#contacto-formulario">Contacto</a></li>
      </ul>
  </nav>
    </header>

   
    
     <!--Banner y botón para hacer pedido-->
    
    <div id="banner-pedido">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active " data-bs-interval="5000">
                <img src="../images/keto-2339718.jpeg" class="d-block w-50 h-50 rounded mx-auto d-block img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="../images/keto-2339718.jpeg" class="d-block w-50 h-50 rounded mx-auto d-block img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="../images/keto-2339718.jpeg" class="d-block w-50 h-25 rounded mx-auto d-block img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="hacer-pedidoDiv">
            <a href="#contacto-formulario"><button id="button-pedido">Hacer Pedido</button></a>
        </div>
    </div>

    <!--Seccion de banner-->
    <section>
      <div class="banner">
          <p>Deli Rose</p>
      </div>
    </section>    

    <div class="container-md d-flex justify-content-center" >
        <img src="../images/Dont worry, be happy!-min.jpg" class="img-fluid" id="img-fitPoster">
    </div>
    <!--Seccion de Servicios-->

    <section id="servicio-seccion">
        <h2 id="h-serv">Keto Plan - Metabolismo acelerado</h2>

        <!--camelCase-->
        <div class="sectionServ">            
            <p class="p-us">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            </p>
            <img src="../images/viandas-deli-min.jpg" style="width: 450px;">
        </div>
    </section>

    <!--Seccion de Planes-->

    <section>
        <h2 id="planes-h">Planes disponibles</h2>


        <div id="planesImg">
            <div class="img-plan">
                <h3 class="planTitle">Keto - Semana 1</h3>
                <img src="../images/menuKeto-min.jpg" width="300px" margin="10px">
                <div class="btn-planes">
                    <a href="#contacto-formulario"><button id="button-pedido">Hacer Pedido</button></a>
                </div>
            </div>
            
            <div class="img-plan">
                <h3 class="planTitle">Keto - Semana 2</h3>
                <img src="../images/menuKeto-min.jpg" width="300px">
                <div class="btn-planes">
                    <a href="#contacto-formulario"><button id="button-pedido">Hacer Pedido</button></a>
                </div>
            </div>
            <div class="img-plan">
                <h3 class="planTitle">Keto - Semana 3</h3>
                <img src="../images/menuKeto-min.jpg" width="300px">
                <div class="btn-planes">
                    <a href="#contacto-formulario"><button id="button-pedido">Hacer Pedido</button></a>
                </div>
            </div>
            <div class="img-plan">
                <h3 class="planTitle">Keto - Semana 4</h3>
                <img src="../images/menuKeto-min.jpg" width="300px" height= "424px">
                <div class="btn-planes">
                    <a href="#contacto-formulario"><button id="button-pedido">Hacer Pedido</button></a>
                </div>
            </div>
        </div>

    </section>

    <!--Formulario de contacto-->

    <section class="contacto-imagen" id="contacto-formulario">
        <h2  class="h2-style">Contacto / Hacé tu pedido</h2>
        <div class="seccionContacto">
             <!--camelCase-->

        <form action="#" id="formContact">
                <div>
                    <label>Nombre y Apellido</label>
                </div>
                    <div>
                    <input type="text" name="nombre">
                </div>
                <div>
                    <label>Email</label>
                </div>
                <div>
                    <input type="email" name="email">
                </div>
                <div>
                    <label>Teléfono</label>
                </div>
                <div>
                    <input type="tel" name="telefono">
                </div>
                <label>Selecciona tu menú:</label><br>
                    <div>Plan Fit
                <input type="checkbox" name="plan" value="FIT"></div>
                    <div>Plan Keto
                <input type="checkbox" name="plan" value="KETO"></div>
                    <div>Plan Bajas calorías
                <input type="checkbox" name="plan" value="BAJAS CALORÍAS"></div>
                    <div>Plan Gourmet
                <input type="checkbox" name="plan" value="GOURMET"></div>
                <div>
                    <select name="tamaño">
                        <option value="chica">Chica</option>
                        <option value="mediana">Mediana</option>
                        <option value="grande">Grande</option>
                    </select>
                </div>
                <label>Mensaje</label>
                <div>
                <textarea>Ingresa tu mensaje</textarea>
                </div>
                    <div>
                    <button type="reset" id="clear">Limpiar</button>   
                    <button type="submit" id="enviar">Enviar</button>
                    </div>
        </form>
        </div>
    </section>

    <footer>
    <h4>Seguinos en las redes!</h4>
    <div id="imgFooter">
        <a href="https://www.facebook.com/deliroseviandas/"> <img class = "img-foot" src="../images/facebook_icon_194147.png" alt="facebook"></a>    
        <a href="https://www.instagram.com/deliroseviandas/?hl=es"><img class = "img-foot" src="../images/instagram_icon_194148.png" alt="instagram"></a>
        <a href="https://wa.me/message/TJHQUCND5T5QL1"><img class = "img-foot" src="../images/whatsapp_icon_194157.png" alt="whatsapp"></a>
    </div>
    <h3>Deli Rose Viandas</h3>
    </footer>
</body>
</html>

